footer {
    background-color: var(--color-primary);
}

.footer-container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 60px 24px 30px;
}

.footer__top {
    display: flex;
    gap: 40px;
}

.footer__col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__logo-container {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.footer__logo {
    height: 48px;
    width: 48px;
    border-radius: 8px;
}

.footer__col-title,
.footer__logo-title {
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 16px;
}

.footer__logo-title {
    margin: 0;
}

.footer__col-desc,
.footer__col-link,
.footer__copyright-text,
.footer__divider {
    color: var(--text-white);
    opacity: 0.8;
}

.footer__col-desc {
    line-height: 1.5;
}

.footer__col-link {
    line-height: 1.5;
    width: fit-content;
    display: flex;
    gap: 8px;
}

.footer__col-link:hover {
    opacity: 1;
}

.footer__contact-icon {
    height: 16px;
    width: 16px;
    opacity: 0.7;
    margin-top: 4px;
}

.footer__social-links {
    display: flex;
    gap: 12px;
}

.footer__social-link {
    height: 40px;
    width: 40px;
    border: 1px solid var(--text-white);
    border-radius: 50%;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.footer__social-link:hover {
    background-color: var(--color-primary-hover);
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.footer__social-link-icon {
    height: 20px;
    width: 20px;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.footer__social-link:hover .footer__social-link-icon {
    opacity: 1;
}

.footer__divider {
    opacity: 0.4;
    margin: 45px 0 30px;
}

.footer__copyright-text {
    text-align: center;
}

@media (max-width: 992px) {
    .footer__top {
        flex-direction: column;
    }
}