.gallery {
    max-width: 1248px;
    margin: 0 auto;
    padding: 80px 24px;
}

.gallery__title {
    font-family: 'Inter-Bold';
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 16px;
}

.gallery__desc {
    font-size: 1.125rem;
    line-height: 1.625;
    text-align: center;
    color: var(--text-dark-gray);
    margin-bottom: 24px;
}

.gallery__card-container {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.gallery__card {
    border-radius: 16px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* .gallery__card:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
} */

.gallery__card-img-container {
    background: var(--color-primary-light-bg);
    padding: 24px;
    display: flex;
    gap: 24px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.gallery__card-before-container,
.gallery__card-after-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.gallery__card-before-title,
.gallery__card-after-title {
    font-family: 'Inter-SemiBold';
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--color-primary);
}

.gallery__card-after-title {
    color: var(--color-secondary);
}

.gallery__card-before-img,
.gallery__card-after-img {
    object-fit: cover;
    max-width: 258px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.gallery__card-text-container {
    padding: 24px;
    text-align: center;
}

.gallery__card-text-title,
.gallery__card-text-subtitle {
    font-family: 'Inter-SemiBold';
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-secondary);
}

.gallery__card-text-title {
    font-size: 1.25rem;
    color: var(--color-primary);
    margin-bottom: 8px;
}

@media (max-width: 992px) {

    .gallery {
        padding: 48px 24px;
    }

    .gallery__title {
        font-size: 2rem;
    }

    .gallery__card-container {
        margin-top: 36px;
    }

    .gallery__card-img-container {
        padding: 16px;
        gap: 16px;
    }

    .gallery__card-text-container {
        padding: 16px;
    }
}

@media (max-width: 576px) {
    .gallery__card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}