.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 900;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

header {
    position: fixed;
    background-color: var(--text-white);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

header.header-scrolled {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1248px;
    padding: 8px 24px;
    margin: 0 auto;
}

.header__logo-img {
    height: 64px;
    width: 100%;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    position: relative;
}

.menu-icon>span {
    height: 2px;
    width: 100%;
    background-color: var(--text-black);
    transition: all 0.3s ease;
    transform-origin: center;
}

.menu-toggle[aria-expanded="true"] .menu-icon>span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}

.menu-toggle[aria-expanded="true"] .menu-icon>span:nth-child(2) {
    opacity: 0;
    transform: scale(0);
}

.menu-toggle[aria-expanded="true"] .menu-icon>span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

.header__nav-list {
    display: flex;
    gap: 32px;
}

/* .header__nav-link {
    text-transform: uppercase;
    font-size: 0.875rem;
    padding: 12px;
    border-radius: 8px;
    font-weight: 700;
} */

.header__nav-link:hover {
    /* background-color: #E6F0FA; */
    color: var(--color-primary);
    transition: 0.3s ease-in-out;
}

.header__btn {
    font-family: 'Inter-SemiBold';
    font-size: 0.875rem;
    color: var(--text-white);
    background-color: var(--color-secondary);
    padding: 12px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__btn:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.header__btn-icon {
    height: 16px;
    width: 16px;
}

@media (max-width: 992px) {
    .menu-toggle {
        display: block;
    }

    .header__nav {
        background-color: var(--color-primary);
        color: var(--text-white);
        position: absolute;
        top: 84px;
        left: 0;
        right: 0;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease;
    }

    .header__nav.open {
        max-height: 300px;
    }

    .header__nav-list {
        flex-direction: column;
        gap: 0;
    }

    .header__nav-link {
        display: block;
        padding: 16px 24px;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
    }

    .header__nav-link:hover {
        color: unset;
    }

    .header__btn {
        display: none;
    }
}