.doctors {
    max-width: 1248px;
    margin: 0 auto;
    padding: 80px 24px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.doctors__card {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 24px;
    scroll-behavior: smooth;
    scroll-margin-top: 130px;
}

.doctors__card-img {
    width: 100%;
    border-radius: 16px;
}

.doctors__card-text-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 2px solid var(--color-border);
    border-radius: 16px;
    padding: 24px;
}

.doctors__card-title {
    font-family: 'Inter-Bold';
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--color-primary);
}

.doctors__card-subtitle {
    font-family: 'Inter-SemiBold';
    font-size: 1.125rem;
    color: var(--text-black);
    line-height: 1.625;
}

.doctors__card-desc {
    font-size: 1.125rem;
    line-height: 1.625;
    color: var(--text-dark-gray);
}

.doctors__card-subsection {
    margin-top: 16px;
}

.doctors__card-subsection>ul {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.doctors__card-list-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.125rem;
}

@media (max-width: 992px) {
    .doctors {
        padding: 48px 24px;
        gap: 48px;
    }
}

@media (max-width: 576px) {
    .doctors__card {
        grid-template-columns: repeat(1, 1fr);
        scroll-margin-top: 110px;
    }

    .doctors__card-text-container {
        padding: 16px;
    }
}