.intro,
.services-container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 80px 24px;
}

.intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px
}

.intro__title,
.services__title {
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 24px;
}

.intro__desc,
.services__desc {
    font-size: 1.125rem;
    line-height: 1.625;
    text-align: center;
    color: var(--text-light-gray);
}

.intro__title,
.intro__desc {
    text-align: left;
}

.intro__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.services {
    background-color: var(--color-bg-alternate);
}

.services__card-container {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.services__card {
    background-color: var(--text-white);
    padding: 24px;
    border: 2px solid var(--color-border);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.services__card-img-container {
    height: 56px;
    width: 56px;
    background-color: var(--color-secondary-light);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.services__card-img {
    height: 28px;
    width: 28px;
}

.services__card-title {
    font-weight: 600;
    font-size: 1.125rem;
}

.services__card-desc {
    font-size: 0.875rem;
    line-height: 1.625;
    color: var(--text-light-gray);
}

@media (max-width: 992px) {

    .intro,
    .services-container {
        padding: 48px 24px;
    }

    .intro {
        grid-template-columns: repeat(1, 1fr);
        gap: 36px;
    }

    .intro__title,
    .services__title {
        font-size: 2rem;
    }

    .services__card-container {
        margin-top: 36px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .services__card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}